 //slider

 &__slider {
    width: 935px;
    position: relative;
    height: 430px;
    
   
}
&__slideshow {
 width: 935px;
}
&__slideshow-slides {
    display: none;
    width: 935px;
}
&__slideshow-slides img{
     width: 935px;
 }
 &__slideshow-text {
    display: flex;
    flex-direction:column;
    position: absolute;
    bottom: 205px;
    text-align: center;
   
 }
&__slideshow-producname {
   width: 468px;
   height: 86px;
   margin-left: 5px;
   font-weight: 900;
   font-size: 36px;
   text-align-last: right;
   color: #FFFFFF;
    
}
&__slideshow-producinfo {
   width: 150px;
   height: 24px;
   margin-left: 55px;
   margin-top: 23px;
   font-size: 20px;
   color: #FFFFFF;
   
}
&__slider-dots {
    text-align: center;
   margin-top: -50px;
   opacity: 0.7;
 }
}
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
 .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
   border: 0.5px solid #FFFFFF;;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
 }
 .active, .dot:hover {
    background-color: #FFFFFF;
  }
 @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }   
 
    //slider end


