*{
   box-sizing: border-box;
   padding: 0;
   margin: 0; 
   font-family: 'Lato', sans-serif;
  
}
.sec_header__container {
   margin: 0 auto;
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-content: center;
   max-width: 1920px;
   padding-left: 15px;
   padding-right: 15px;
   height: 24px;
   background-color: #19245E;
}
.sec_header {
&__location {
   display: flex;
   align-items: center;
}
&__location-adress {
   font-size: 12px;
   color: #FFFFFF;
   text-align: center;
   padding-left: 5px;
}
&__menu {
display: flex;
align-items: center;}
&__menu-link {
   font-size: 12px;
   text-align: center;
   color: #FFFFFF;
   text-decoration: none;
   margin-left: 30px;
}
.empty {
   width: 141px;
}
} 
.search {
   width: 480px; /* Ширина поля с кнопкой */
   height: 32px;
   border-radius: 5px;
   background-color: #F9F9F9;
   box-shadow:0 0 10px rgba(0,0,0,0.1);
  
  }
  
  input[type="search"] {
   border: none; 
   outline: none; 
   -webkit-appearance: none; 
   width: 430px; 
   vertical-align: middle;
   margin: 0px 0px 8px 15px;
   opacity: 40%;
   background-color: #F9F9F9;
   font-family: Lato;
   font-style: normal;
   font-weight: 300;
   font-size: 14px;
   
     }
  input[type="image"] {
     margin: 7px 0px 0px 0px;
  }

  .main-header {
      height: 114px;
      margin: 0 auto;
      width: 100%;
      display: flex;
      flex-direction: column;
      max-width: 1920px;
      padding-left: 15px;
      padding-right: 15px;
      justify-content: space-evenly;
   &__search {
      display: flex;
      max-width: 100%;
      align-items: center;
      justify-content: space-between;
     padding-top: 29px;
     padding-bottom: 19px;
   }
   &__search-logo {}
   &__search-input {}
   &__search-communication {}
   &__search-phone {
      font-weight: bold;
      font-size: 20px;
      text-decoration: none;
      color: black;
   }
   &__search-btn {
      margin-left: 21px;
      font-size: 14px;
      border-radius: 5px;
      transition: all 0.3s cubic-bezier(0.61, 1, 0.88, 1);
      text-decoration: none;
      width: 160px;
      height: 32px;
      padding: 8px 20px;
      background-color:#19245E;
      color: white;
      &:hover{
         border-radius: 7px;
         box-shadow:0 0 10px rgba(0,0,0,0.5);
      }
      &:active {
         background:#82D2FF;
         border: 1px solid #19245E ;
         color: #19245E;
         border-radius: 17px;
        }
   }
   
   
   &__menu {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-top: 0.5px solid rgba(0, 0, 0, 0.2);
      border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);
      padding: 0px 0px;
   }
   &__menu-links {
      display: flex;
      justify-content: space-between;
      max-width: 1000px;
   }
   &__menu-title{
      margin-left: 17px;
      margin-top: 9px;
      text-align: center;
      font-style: normal;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 900;
      font-size: 14px;
      color: #19245E;
      border-left: 0.5px solid rgba(0, 0, 0, 0.2);
      border-right: 0.5px solid rgba(0, 0, 0, 0.2);
      padding-right: 20px;
      padding-left: 20px;
      height: 28px;
   }
   &__menu-item {
      display: flex;
      margin-left: 33px;
      transition: all 0.3s cubic-bezier(0.61, 1, 0.88, 1);
      &:hover {
         box-shadow:0 0 10px rgba(0,0,0,0.5);
       }
   }
  
   &__menu-link {
      font-weight: bold;
      font-size: 14px;
      text-decoration: none;
      color: rgba(0, 0, 0, 0.7);
      padding: 13px 13px 13px 10px;
      white-space: nowrap;
     
   }
  
   
   &__menu-basket {
      margin-right: 20px;
      border-left: 0.5px solid rgba(0, 0, 0, 0.2);
      border-right: 0.5px solid rgba(0, 0, 0, 0.2);
      padding-right: 20px;
      padding-left: 20px;
      
     
      
   }
   &__menu-basket img:hover {
      color: white;
   }
   }

   .brands {
      height: 440px;
      margin: 0 auto;
      width: 100%;
      display: flex;
      max-width: 1920px;
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 30px;
      &_images-item {}
      &__section {
         max-width: 210px;
         height: 282px;
         display: flex;
         flex-wrap: wrap;
      }
      &__title {
         font-weight: 900;
         font-size: 28px;
         margin-bottom: 30px;

      }
      &__images  {
         display: flex;
         flex-wrap: wrap;
         justify-content: space-between;
      }
      &__images a {
         font-size: 12px;
         text-align: center;
         text-decoration: none;
         width: 60px;
         height: 55px;
         display: inline-block;
         margin-bottom: 25px;
      }
      &__images figcaption {
         color: #000000;
         opacity: 0.4;;
      }    
  // New slider
      &__slider {
         margin: 0 auto;
         width: 935px;
         height: 360px;
      }
      &__viewer {
       
         overflow: hidden;
         position: relative;
      }
      &__slideshow {
         
         position: relative;
         
         width: 935px;
         height: 360px;
      }
      &__slide {
         display: flex;
         flex-direction: row;
        
         position: absolute;
         width: 935px;
         height: 360px;

         &:first-child {
            display: block;
            background: linear-gradient(98.43deg, rgba(3, 0, 155, 0.4) 9.28%, rgba(255, 255, 255, 0) 100%), #82D2FF;
          }
         &:nth-child(1) {
            background: linear-gradient(98.43deg, rgba(3, 0, 155, 0.4) 9.28%, rgba(255, 255, 255, 0) 100%), #82D2FF;
         }
         &:nth-child(2) {
           background: url(../img/background.png) repeat center; // Почему эта хуета не работает????????????????777777777777777777777777777777777
         } 
         &:nth-child(3) { 
           background: url(../img/background.png) repeat  center;
         } 
         &:nth-child(4) { 
           background: url(../img/background.png) repeat  center;
         }
      }
      &__slide-text {
         
         color: #FFFFFF;
         display: flex;
         flex-direction: column;
         justify-content: space-evenly;
         position: absolute;
         width: 50%;
         height: 100%;
         margin-left: 50px;
        
      }
      &__slide-producname {
         font-weight: 700;
         margin-top: 50px;
         font-size: 36px;
      }
      &__slide-producinfo {
         font-size: 20px;
         margin-bottom: 100px;
      }
      &__slide-images {
         width: 100%;
         position: relative;
         height: 100%;
         margin-left: 445px;
         margin-top: -30px;
         transition: all 0.5s cubic-bezier(0.61, 1, 0.88, 1);
         &:hover{
            margin-left: 485px;
            margin-top: -10px;
            transform: rotate3d(1, 3, 0.5, 20deg) scale(0.96) ;
            
         }
        
        
      }
      &__slide-fstimg {
         position: absolute;
         z-index: 10;
         width: 499px;
         height: 370px;
         margin-top: 50px;
         margin-left: 25px;
         transition: all 0.5s cubic-bezier(0.61, 1, 0.88, 1);
         &:hover{
            margin-left: -90px;
            margin-top: 85px;
            transform: rotate3d(5, -3, 0.5, -15deg) scale(1.2) ;
            height: 360px;
            
         }
      }
      &__slide-scndimg {
         position: absolute;
         width: 365px;
         height: 262px;
         margin-left: 157px;
        
         
      }
      &__slider-buttons {
         margin-top: -55px;
         margin-left: 390px;
         text-align: center;
         position: relative;
         border: 0.5px solid #FFFFFF;
         width: 0px;
         height: 0px;
         color:  rgba(0, 0, 0, 0.219);
         opacity: 50%;
         &:hover {
            opacity: 100%;
            }
      }
      &__slider-btn {
         &.active{
            color:#FFFFFF;
      
         }
         &:hover{
            cursor: pointer;
         }
      }
     }
     a.brands__slider-btn {
      font-size: 42px;
      margin: 5px;
      border-radius: 50%;
      -webkit-transition: all 0.4s ease-in-out;
      -moz-transition: all 0.4s ease-in-out;
      -ms-transition: all 0.4s ease-in-out;
      -o-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out;
    }
    //slider ends
     
      
      
@media (max-width:1155px){
   .main-header { 
      &__search-communication {
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         align-items: center;
         margin-top: 30px;
         
      }
      &__search-btn {
         margin-top: 7px;
         font-size: 12px;
      }
    }
   .brands { 
      height: 464px;
      display: flex;
      flex-direction: column;
      &_images-item {}
      &__section {
         max-width: 100%;
         height: 145px;
         flex-direction: column;
      }     
      &__title {}
      &__images {
         max-width: 100%;
         justify-content: space-between;
      }
      &__images a {
         display: inline-block;
         margin-bottom: 20px;
      }
      &__slider {}
      &__viewer {}
      &__slideshow {}
      &__slide {}
      &__slide-text {}
      &__slide-producname {}
      &__slide-producinfo {}
      &__slide-images {}
      &__slide-fstimg {}
      &__slide-scndimg {}
      &__slider-buttons {}
      }
      
}


@media (max-width:956px){
   .main-header__menu-title{
      display: none;
   }
}
@media (max-width:870px){
   .search {
      width: 320px; /* Ширина поля с кнопкой 320 */
      
     }
     input[type="search"] {
      width: 270px; 
     }
     .main-header__menu-title{
        display: none;
     }
   }
   @media (min-width:871px){
      .mobile-header__dropdown{
         display: none;
      }
   }
@media (max-width:748px){
	.main-header, .sec_header {
      display: none;
   }
.mobile-header {
      max-width: 100%;
      padding-left: 10px;
      padding-right: 10px;
      display: flex;
      justify-content: space-evenly;
      flex-direction: column;
      height: 80px;
   &__search {
      max-width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 56px;
      
   }
   &__search-logo {
      margin-left: 50px;
   }
   &__serch-items {
      display: flex;
   }
   &__search-item {margin-left: 15px;}
  
   &__search-basket {margin-left: 15px;}
   }
   

   #menu__toggle {
      opacity: 0;
      
      
    }
    .menu__btn {
      display: flex;
      align-items: center;
      position: fixed;
      top: 17px;
      left: 10px;
      width: 26px;
      height: 26px;  
      cursor: pointer;
      z-index: 99;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
   width: 100%;
  height: 2px;  
  background-color: #616161;
  transition: all 0.35s cubic-bezier(0.61, 1, 0.88, 1);
  
  
  
}
.menu__btn > span::before {
  content: '';
  top: -8px;
 
}
.menu__btn > span::after {
  content: '';
  top: 8px;
  
}
.menu__box {
   transition: all 0.35s cubic-bezier(0.61, 1, 0.88, 1);
   display: block;
   position: fixed;
   visibility: hidden;
   top: 0;
   left: -100%;  
   width: 300px;
   height: 100%;  
   margin: 0;
   padding: 80px 0;  
   list-style: none;
   text-align: center;  
   background-color: #ECEFF1;
   box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
   z-index: 9;
 }
 .menu__item {
   transition: all 0.35s cubic-bezier(0.61, 1, 0.88, 1);
   display: block;
   padding: 12px 24px;
   color:  #19245E;
   font-size: 18px;
   font-weight: 600; 
   text-decoration: none;
 }
 .menu__item:hover {
   background-color: #CFD8DC;
   
 }
 #menu__toggle:checked ~ .menu__btn > span {
   transform: rotate(45deg);
 }
 #menu__toggle:checked ~ .menu__btn > span::before {
   top: 0;
   transform: rotate(0);
 }
 #menu__toggle:checked ~ .menu__btn > span::after {
   top: 0;
   transform: rotate(90deg);
 }
 #menu__toggle:checked ~ .menu__box {
   visibility: visible;
   left: 0;
 }
 .mobile-header {
   &__dropdown {
      width: 100%;
      height: 34px;
      position: relative;
      display: inline-block;
      z-index: 1;
   }
   &__dropdown-btn {
      width: 100%;
      cursor: pointer;
      background-color: white;
      color: #19245E;;
      font-weight: 900;
      font-size: 12px;
      text-align: center;
      padding-top: 11px;
      padding-bottom: 11px;
      border-top: 0.5px solid rgba(0, 0, 0, 0.2);
      border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);
      transition: all 0.35s cubic-bezier(0.61, 1, 0.88, 1);
   }
   &__dropdown-btn:hover{
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      
    }
   &__dropdown-arrowDown {
      border: 1px solid #19245E;
      border-width: 0 2px 2px 0;
      display: inline-block;
      padding: 3px;
      transform: rotate(45deg);
      margin-bottom: 3px;
      margin-left: 4px;
   }
   /* &&&&&&&&&&&&&&&&&77777777777 peredelat' */
   &__dropdown-links {
      display: none;
      position: absolute;
      background-color: #f1f1f1;
      width: 100%;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      text-align: center;
      
   }
   &__dropdown-links a {
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      transition: all 0.35s cubic-bezier(0.61, 1, 0.88, 1);
      display: block;
      color:  #19245E;
      font-size: 18px;
      font-weight: 600; 
      text-decoration: none;
      
    }
    &__dropdown-links a:hover {
      background-color: #CFD8DC;
      }
   }
   
   .drop {
      display:block;
   } 
   .brands {
      &_images-item {}
      &__section {
         height: 499px;
      }
      &__title {
         font-size: 24px;
      }
      &__images {
         & a{
            margin-left: 17px;
         }
         justify-content: start;
      }
      &__slider {}
      &__viewer {}
      &__slideshow {}
      &__slide {}
      &__slide-text {}
      &__slide-producname {}
      &__slide-producinfo {}
      &__slide-images {}
      &__slide-fstimg {}
      &__slide-scndimg {}
      &__slider-buttons {}
      }
      
} //end of @media (max-width:748px)
@media (min-width:748px){
   .mobile-header{
      display: none;
   }
}




   

